/* FONTS --------------------------------- */
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/poppins-v24-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* VARIABLES --------------------------------- */
:root {
  /* colors */
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-neutral-grey-500: hsl(234, 12%, 34%);
  --clr-neutral-grey-400: hsl(212, 6%, 44%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  /* fonts family */
  --ff-poppins: "Poppins", Arial, Helvetica, sans-serif;

  /* fonts size */
  --fs-36: 2.25rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-15: 0.9375rem;
  --fs-13: 0.8125rem;

  /* fonts weight */
  --fw-semi-bold: 600;
  --fw-regular: 400;
  --fw-extra-light: 200;

  /* lines height */
  --lh-160: 1.6;
  --lh-140: 1.4;
  --lh-135: 1.35;
}

/* RESET --------------------------------- */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  padding: 0;
}

/* GENERAL --------------------------------- */
body {
  font-family: var(--ff-poppins);
  color: var(--clr-neutral-grey-400);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* SECTION HERO --------------------------------- */
.hero {
  max-width: 19.75rem;
  margin: auto;
  text-align: center;
  color: var(--clr-neutral-grey-500);
}
.hero h1 {
  font-size: var(--fs-24);
  font-weight: var(--fw-extra-light);
  line-height: var(--lh-140);
  letter-spacing: 0.25px;
}
.hero h1 span {
  font-weight: var(--fw-semi-bold);
}
.hero p {
  font-size: var(--fs-15);
  line-height: var(--lh-140);
  font-weight: var(--fw-regular);
  letter-spacing: 0.1px;
  margin-top: 1rem;
}

/* SECTION CARDS --------------------------------- */
.cards {
  margin-top: 3.75rem;
  max-width: 19.625rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card__2-3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card {
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card h2 {
  font-size: var(--fs-20);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-135);
  color: var(--clr-neutral-grey-500);
}
.card p {
  margin-top: 0.375rem;
  font-size: var(--fs-13);
  font-weight: var(--fw-regular);
  line-height: var(--lh-160);
  letter-spacing: 0.09px;
}
.card img {
  align-self: flex-end;
  margin-bottom: 0.9375rem;
}
.card::before {
  content: "";
  position: absolute;
  min-width: 19.625rem;
  height: 0.25rem;
  border-radius: 1rem 1rem 0 0;
  top: 0;
  left: 0;
  z-index: 999;
}
.card__1::before {
  background-color: var(--clr-primary-cyan);
}
.card__2::before {
  background-color: var(--clr-primary-red);
}
.card__3::before {
  background-color: var(--clr-primary-orange);
}
.card__4::before {
  background-color: var(--clr-primary-blue);
}

@media (min-width: 768px) {
  .hero {
    max-width: 33.75rem;
  }
  .hero h1 {
    font-size: var(--fs-36);
  }
  .cards {
    margin-top: 4.625rem;
    min-width: 41.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .card {
    width: 19.625rem;
  }
  .card__2-3 {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .cards {
    min-width: 69.625rem;
    flex-direction: row;
  }
  .card {
    width: 21.875rem;
    max-height: 15.65rem;
    flex-shrink: 0;
    align-self: center;
  }
  .card__2-3 {
    flex-direction: column;
  }
  .card::before {
    width: 21.875rem;
  }
}
